<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= cocktail.name %> -
    <%= link_to "this one", cocktail_path(cocktail) %> </li>
  <% end %>
</ul>
<%= link_to "Create - just the cocktail name", new_cocktail_path%>

